.logout-button {
  background-color: #dde41e;
  border: none;
  /* padding: 10px ; */
  /* border-radius: 5px; */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  color: black;
  /* gap: px; */
}
